@font-face {
    font-family: 'Argesta Headline';
    src: url('./silka-semibold-webfont.eot');
    src: url('./silka-semibold-webfont.eot') format('embedded-opentype'),
      url('./silka-semibold-webfont.woff2') format('woff2'), 
      url('./silka-semibold-webfont.woff') format('woff'),
      url('./silka-semibold-webfont.ttf') format('truetype');
}

