.post p {
  @apply text-base my-6 leading-relaxed;
}

.post blockquote {
  border-left: 6px solid #f2f2f2;
  margin: 12px 12px;
  padding: 12px 30px;
}

.post li {
  @apply mt-4;
}

.post h1 {
  @apply pt-12 pb-4;
}

.post h2 {
  @apply pt-12 pb-4;
}

.post h3 {
  @apply pt-12 pb-2;
}

.post a {
  @apply underline font-semibold;
}

.post img {
  @apply rounded-md w-full mx-auto;
}

.post hr{
  border: 1px solid rgba(127, 127, 127, 0.2);
	margin-top: 4em;
  margin-bottom: 2em;
}