.post {
  @apply text-base;
  line-height: 1.7;
}

.post p,
.post ul,
.post ol,
.post blockquote {
  @apply my-6;
}

.post h1 {
  @apply text-xxl mt-12 mb-4;
  color: #1a1a1a;
}

.post h2 {
  @apply text-xxl mt-12 mb-4 ;
}

.post h3 {
  @apply text-xl mt-8 mb-4;
}

.post h5 {
  @apply text-l mt-8 mb-4;
}

.post a {
  font-weight: 600;
  text-decoration: underline;
}