.post p {
  @apply my-6 leading-relaxed;
}

.post blockquote {
  border-left: 6px solid #f2f2f2;
  margin: 12px 12px;
  padding: 12px 30px;
}

.post li {
  @apply my-4;
}

.post h1 {
  @apply pt-8;
}

.post h2 {
  @apply pt-8;
}

.post h3 {
  @apply pt-8;
}

.post a {
  @apply underline font-semibold;
}

.post img {
  @apply rounded-md w-full mx-auto pt-4;
}