@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body {
  @apply bg-white dark:bg-black;
}

body {
  font-family: 'Silka Regular', 'Inter', sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%;
}

p {
  font-family: 'Silka Regular', 'Inter', sans-serif;
  font-weight: 400;
  line-height: 150%;
  @apply text-s text-gray1 dark:text-gray3;
}

h1 {
  font-family: 'Silka Semibold', 'Inter', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  @apply text-black dark:text-white leading-normal;
}

h2 {
  font-family: 'Silka Semibold', 'Inter', sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  @apply text-black dark:text-white;
}

h3 {
  font-family: 'Silka Semibold', 'Inter', sans-serif;
  font-weight: 700;
  @apply text-l text-black dark:text-white leading-relaxed;
}

h4 {
  font-family: 'Silka Medium', 'Inter', sans-serif;
  font-weight: 500;
  @apply text-base text-black dark:text-white;
}

/* subtitle */
h5 {
  font-family: 'Silka Regular', 'Inter', sans-serif;
  font-weight: 400;
  @apply text-s text-gray2;
}

/* overline */
h6 {
  font-family: 'Silka Medium', 'Inter', sans-serif;
  font-weight: 500;
  letter-spacing: 5%;
  @apply text-xs text-gray2 uppercase;
}

.caption {
  @apply text-s text-gray2 leading-relaxed;
}

.menu-text {
  @apply text-s text-black dark:text-white flex items-center px-3 sm:px-0 md:px-0 py-2;
}

hr {
  border: 1px solid #dedede;
}

.btn {
  @apply flex items-center font-semibold justify-center px-5 py-3 focus:outline-none;
}

.btn-primary {
  @apply text-white bg-orange rounded-full;
}

.cta-button {
  display: inline;
  background-color: #fff;
  vertical-align: middle;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
  border-radius: 60px;
  padding: 16px 24px;
}

.underlinestyle {
  text-decoration: underline wavy red;
  text-underline-offset: 1em;
}

.pink-gradient-text {
  background: linear-gradient(to right, #FF84C0, #FE5F5F 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header {
  z-index: 50;
  position: fixed;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: box-shadow .2s ease 0s;
  width: 100vw;
  @apply bg-headerLight dark:bg-headerDark;
}

.hero {
  background-color: #fff;
  height: 100vh;
}

.profilecontainer {
  max-height: 300px; 
}

.profileimage {
  width: 240px;
  height: 244px;
}

.workpreviewimg {
  border-radius: 16px;
}

/* animation */

.spin-animation {
  -webkit-animation: spin 6s linear infinite;
  -moz-animation: spin 6s linear infinite;
  animation: spin 6s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.bounce-animation {
  animation: bounce 0.5s infinite alternate;
  -webkit-animation: bounce 0.5s infinite alternate;
  -moz-animation: bounce 0.5s infinite alternate;
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2.5px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2.5px);
  }
}

/* mobile */
@media screen and (max-width: 639px) {
  .header {
    background-color: #fff;
  }
  .hero {
    background: #fff;
  }
  .hero-glow {
    max-width: 60%;
  }
}