@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

h1 {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(to right, #EF8EFF 0%, #FF3535 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: multiply;
  font-weight: 800;
  letter-spacing: -0.02em;
}

h2 {
  /* about section headings */
  font-family: 'Inter', sans-serif;
  background: linear-gradient(to right, #FF84C0, #FE5F5F 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  letter-spacing: -0.02em;
}

h3 {
  /* section headings */
  font-family: 'Inter', sans-serif;
  color: #000;
  font-weight: 400;
  line-height: 2.8rem;
  letter-spacing: -0.02em;
}

h4 {
  /* article names, project names */
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  line-height: 2.4rem;
  letter-spacing: -0.02em;
}

h5 {
  display: inline;
  font-family: 'Inter', sans-serif;
  background: linear-gradient(90deg, #FF5EB9 0%, #6679FF 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: multiply;
  font-weight: 800;
  letter-spacing: -0.02em;
}

p {
  font-weight: 400;
}

.pink-gradient-text {
  background: linear-gradient(to right, #FF84C0, #FE5F5F 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header {
  z-index: 40;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.6); 
  backdrop-filter: saturate(180%) blur(5px);
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  box-shadow: 0px 0.5px 0.5px #dbdbdb;
  transition: box-shadow .2s ease 0s;
}

.hero {
  background-color: #fff;
  height: 100vh;
}

.hero-caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2rem;
  text-align: center;
}

.hero-glow {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -5;
}

.profilecontainer {
  max-height: 350px; 
  /* previously 400px */
}

.profileimage {
  height: auto;
  max-height: 400px;
  width: auto;
  border-radius: 24px;
}

.cta-button {
  display: inline;
  background-color: #fff;
  vertical-align: middle;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
  border-radius: 60px;
  padding: 16px 24px;
}

/* animation */

.spin-animation {
  -webkit-animation: spin 6s linear infinite;
  -moz-animation: spin 6s linear infinite;
  animation: spin 6s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.bounce-animation {
  animation: bounce 0.5s infinite alternate;
  -webkit-animation: bounce 0.5s infinite alternate;
  -moz-animation: bounce 0.5s infinite alternate;
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2.5px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2.5px);
  }
}

/* mobile */
@media screen and (max-width: 639px) {
  .header {
    background-color: #fff;
  }
  .hero {
    background: #fff;
  }
  .hero-glow {
    max-width: 60%;
  }
}